
*{
    /* box-sizing: border-box; */
    /* padding: 0; */
    /* margin: 0; */
}

.container{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.hex-colors{
    /* border: 1px solid black; */
    text-align: center;
}

.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: colorChange 5s infinite alternate;
}

.hex-colors h2{
    margin-top: 15%;
    font-size: 2rem;
    /* border: 1px solid black; */
}

@keyframes colorChange{
    0%{
        color: indigo;
    }
    20%{
        color: red;
    }
    40%{
        color: yellow;
    }
    60%{
        color: grey;
    }
    80%{
        color: greenyellow;
    }
    100%{
        color: orange;
    }
}

@media(max-width:480px)
{
    .hex-colors h1{
        /* color : red */
        font-size: 1.5rem;
    }
    .hex-colors h2{
        /* color : red */
        font-size: 1.5rem;
    }
}